	.tits {
			font-size: 216%;
			font-family: "Arial Rounded MT Bold", Georgia, Serif;
			font-weight: bold;
			margin: 40px;
			width: 80%;
			padding: 10px;
			text-align: center;
			height: 30%;
			border: 10px solid white;
		}
